<div class="flex-col m-12">
  <div class="text-center">
    <h1 class="text-2xl">ART COLLECTION</h1>
  </div>

  <div class="my-12 flex justify-center">
    <div class="w-80 mr-16">
      <nx-formfield nxLabel="Style">
        <nx-multi-select
          [options]="(styleTitlesOptions$ | async) || []"
          selectLabel="label"
          selectValue="styleTitle"
          [(ngModel)]="selectedFilters"
        >
        </nx-multi-select>
      </nx-formfield>
    </div>

    <div class="w-80">
      <nx-formfield nxLabel="Sort by">
        <nx-dropdown
          *ngIf="artworks$ | async as artworks"
          [(ngModel)]="sortBy"
          [nxValueFormatter]="toLabel"
        >
          <nx-dropdown-item
            *ngFor="let item of SORT_ITEMS"
            [nxValue]="item"
          ></nx-dropdown-item>
        </nx-dropdown>
      </nx-formfield>
    </div>
  </div>

  <div class="my-12 flex justify-center" [ngSwitch]="loadingStatus$ | async">
    <div *ngSwitchCase="[Status.Pending]">
      <nx-spinner nxSize="large"></nx-spinner>
    </div>

    <div *ngSwitchCase="[Status.Rejected]">
      Something went wrong please try again.
    </div>

    <div class="w-full" *ngSwitchCase="[Status.Success]">
        <app-artwork-list [artworks]="(artworks$ | async) || []" [selectedFilters]="selectedFilters" [sortBy]="sortBy" />
    </div>
  </div>

  <div class="flex justify-center my-12">
    <nx-pagination
      [nxCount]="(total$ | async) || 0"
      [nxPage]="currentPage"
      [nxPerPage]="(limit$ | async) || 0"
      nxType="advanced"
      (nxGoPrev)="prevPage()"
      (nxGoNext)="nextPage()"
      (nxGoPage)="goToPage($event)"
    >
    </nx-pagination>
  </div>
</div>
