{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "all",
  "importOrder": ["^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "experimentalBabelParserPluginsList": ["jsx", "typescript"]
}
